@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* vh - viewport height
vw - viewport width */

* {
  font-family: Roboto, sans-serif;
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
}

body {
  background-color: rgb(250, 244, 235);
  height: 100vh;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 7vh;
}

.flex2 {
  display: flex;
  justify-content: center;
  margin-left: 20vh;
}

.flex3 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2vh;
}

.alinha-navegacao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
  height: 30vh;
  width: 20vw;
  min-width: 120px;
}

.barra-superior {
  display: flex;
  height: 8vh;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2vw;
  background-color: rgb(241, 235, 227);
  box-shadow: rgb(196, 199, 218) 0px 2px 1px, rgba(196, 199, 218) 0px 4px 2px,
    rgba(196, 199, 218) 0px 8px 4px;
}

.ciberfarm {
  height: 6vh;
}

.navegacao {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 8vh;
  padding-left: 20%;
  width: 100%;
  border-radius: 0 90px 90px 0px;
  box-shadow: rgb(196, 199, 218) 0px 2px 1px, rgba(196, 199, 218) 0px 4px 2px,
    rgba(196, 199, 218) 0px 8px 4px;
  background-color: rgb(226, 220, 212);
  transition: 0.9s;
}

.button {
  display: flex;
  align-items: center;
  height: 8vh;
  width: 100%;
  border-radius: 0 90px 90px 0px;
}

/* Mudar as cores */

.navegacao:hover {
  background-color: rgb(30, 82, 20);
  cursor: pointer;
}
.navegacao:hover .textosNavigation {
  color: rgba(226, 220, 212, 0.822);
}
.navegacao:hover .agua {
  filter: brightness(0) invert(1); /* branco */
}
.navegacao:hover .temp {
  filter: brightness(0) invert(1); /* branco */
}
.navegacao:hover .dash {
  filter: brightness(0) invert(1); /* branco */
}

.navegacao:active {
  box-shadow: inset rgb(16, 43, 19) 1px 3px 3px 3px;
}

.circulo:hover {
  background-color: rgb(30, 82, 20);
  cursor: pointer;
}
.circulo:hover .acionador-data {
  color: rgba(226, 220, 212, 0.822);
}

.circulo:active {
  box-shadow: inset rgb(16, 43, 19) 1px 3px 3px 3px;
}

/* Icons */
.agua {
  height: 3vh;
  margin-right: 1vw;
}
.temp {
  height: 3vh;
  margin-right: 1vw;
}
.dash {
  height: 3vh;
  margin-right: 1vw;
}

/* textos */
.textosNavigation {
  font-size: 2.5vh;
  color: black;
  text-decoration: none;
}

.texto {
  font-size: 2.5vh;
  /* display: flex; */
  color: rgb(61, 61, 61);
}

.texto-sensores {
  font-size: 6vh;
  color: rgb(61, 61, 61);
  text-align: center; /* Centraliza o texto horizontalmente */
}

.container {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(-50%, -50%); /* Centraliza exatamente */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8%;
}

.bordinha {
  border: 2px solid rgb(30, 82, 20);
}

.alinha-meio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.meio {
  align-content: center;
  height: 25vh;
  width: 23vw;
  padding: 3vh;
  border-radius: 15%;
  box-shadow: rgb(196, 199, 218) 0px 2px 1px, rgba(196, 199, 218) 0px 4px 2px,
    rgba(196, 199, 218) 0px 8px 4px;
  background-color: rgb(241, 235, 227);
  margin:  1rem 1rem 1rem;
  position: relative;
}

.img_meio {
  height: 50%;
  margin: 1.5em 1em 1em 1em;
}

/* CALENDARIO */

.calendar {
  padding: 3vh;
  height: 10vh;
  width: 20vh;
  margin-right: 7vh;
  display: flex;
  justify-content: center;
}

.input-date {
  width: 80%;
  padding: 3%;
  font-size: 16px;
  font-family: inherit;
  color: rgb(30, 82, 20);
  background-color: #f1ebe3;
  border: 2px solid rgb(30, 82, 20);
  border-radius: 20px;
  outline: none;
  margin-top: 10%;
}

.input-date:focus {
  border-color: #388e3c;
  box-shadow: 0 0 8px rgb(30, 82, 20);
}

/* Estiliza o ícone do calendário no Chrome */
.input-date::-webkit-calendar-picker-indicator {
  background-color: rgb(136, 187, 142);
  color: white;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.tomatinho {
  height: 12vw;
  margin-right: 10vw;
}

.circulo {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;

  border: 2px solid rgb(30, 82, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.9s;
}

.acionador-data {
  font-size: 4vh;
  color: rgb(61, 61, 61);
  text-decoration: none;
}

.sensor-data {
  font-size: 2.5vw;
  color: rgb(61, 61, 61);
  text-decoration: none;
}


/* ANIMAÇÃO*/

@keyframes pulsar {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }
  50% {
    transform: scale(1.1);
    filter: brightness(1.3);
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
  }
}

.animar-luz {
  animation: pulsar 2s infinite ease-in-out;
}


@keyframes girar-pulsar-pausar {
  0% {
    transform: rotate(0deg) scale(1);
  }
  20% { 
    transform: rotate(180deg) scale(1);
  }

  21% { 
    transform: rotate(180deg) scale(1.05); 
  }
  25% {
    transform: rotate(180deg) scale(0.95);
  }
  29% {
    transform: rotate(180deg) scale(1.05);
  }
  30% { 
    transform: rotate(180deg) scale(1); 
  }

  40% { 
    transform: rotate(180deg) scale(1); 
  }

  60% { 
    transform: rotate(360deg) scale(1);
  }

  61% {
    transform: rotate(360deg) scale(1.05);
  }
  65% {
    transform: rotate(360deg) scale(0.95);
  }
  69% {
    transform: rotate(360deg) scale(1.05);
  }
  70% { 
    transform: rotate(360deg) scale(1);
  }
  
  100% { 
    transform: rotate(360deg) scale(1);
  }
}

.img_temp {
  animation: girar-pulsar-pausar 13s ease-in-out infinite; 
  transform-origin: center center; 
}

/*BOTÃO FUNÇÃO MANUAL*/

.manual-acionadores {
  display: flex;
  align-items: center;
  gap: 10px; /* espaço entre "Manual" e "Acionadores" */
}

.texto-acionadores {
  display: flex;
  align-items: center;
  gap: 10px; /* espaço entre texto e switch */
  font-weight: bold;
  font-size: 1.1em;
}

/* Container do switch */
.switch {
  position: relative;
  left: 170px;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/* Esconde o checkbox padrão */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(154, 158, 152);
  border-radius: 28px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: White;
  border-radius: 50%;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: rgb(30, 82, 20);
}

.switch input:checked + .slider:before {
  transform: translateX(22px);
}

